/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@layer base {
    html {
        font-family: "Poppins", sans-serif;    
    }
    body {
      background: linear-gradient(105deg, #020305, #1a103d, #4b1d6f, #d133e9);
    }
     .snowflake {
      position: absolute;
      top: -10px;
      background: white;
      border-radius: 50%;
      animation-name: fall;
      animation-timing-function: linear;
    }

    @keyframes fall {
      to {
        transform: translateY(110vh);
      }
    }
}
@layer components{
   .menu-wrapper{
    @apply md:flex flex-col md:flex-row gap-4 md:gap-8 text-lg font-medium absolute md:static top-[70px]
    left-0 w-full md:w-auto bg-white md:bg-transparent rounded-lg md:rounded-none shadow-md
    md:shadow-none p-4 md:p-0 z-50 border border-[#fee6cc] md:border-none backdrop-blur-[50.90px]
    md:backdrop-blur-none
   }
  .menu-item {
    @apply relative before:content-[''] text-dark font-pacifico before:absolute before:w-0 before:h-[2px] font-bold
    before:bg-purple-700 before:bottom-0 before:left-0 before:transition-all before:duration-300
    hover:before:w-full cursor-pointer;
  }
  .action-btn-outline{
    @apply h-10 md:h-12 text-xs md:text-[14px] font-medium  px-4 lg:px-10 rounded-[71px] border-2 ;
  }
  .action-btn {
    @apply h-10 md:h-12 text-xs md:text-[14px] font-medium text-lightpink  px-4 lg:px-10 rounded-[71px] 
  }
  .btn-scale-anim{
    @apply transition-transform duration-300 ease-in-out transform hover:scale-105 hover:shadow-lg;
  }
  .profile-pic{
    @apply transition-transform duration-300 ease-in-out hover:scale-105
  }
  .section-title{
    @apply text-[25px] font-semibold font-pacifico text-center bg-primary bg-clip-text text-transparent;
  }
  .arrow-btn{
    @apply absolute top-1/2 transform -translate-y-1/2 bg-primary  text-white p-2 rounded-full shadow;
  }
  .input-box{
    @apply bg-lightpink rounded-2xl border border-pink-100 px-4 py-3 placeholder:text-secondary placeholder:text-sm mb-5 focus:outline-none focus:border-dark;
  }
}